# YGQ 央国企招聘平台 - EditorConfig
# 所有文件统一使用 UTF-8 编码

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{js,json,css,html}]
charset = utf-8

[*.py]
indent_size = 4

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
